{
  //This is used by jest:
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  //This is used in the scripts (createTransactionFixtures)
  "plugins": ["@babel/plugin-transform-modules-commonjs"]
}
